In [2]:
import pandas as pd  

# Load CSV files into Pandas DataFrames  
cell_phones_df = pd.read_csv("cell_phones_total.csv")  # Replace with your actual file name  
population_df = pd.read_csv("pop.csv")  # Replace with your actual file name  

# Display first few rows of the datasets  
print("Cell Phones Data:\n", cell_phones_df.head())  
print("\nPopulation Data:\n", population_df.head())

Cell Phones Data:
        country  1960  1961  1962  1963  1964  1965  1966  1967  1968  ...  \
0        Aruba   0.0   NaN   NaN   NaN   NaN   0.0   NaN   NaN   NaN  ...
1  Afghanistan   0.0   NaN   NaN   NaN   NaN   0.0   NaN   NaN   NaN  ...
2       Angola   0.0   NaN   NaN   NaN   NaN   0.0   NaN   NaN   NaN  ...
3      Albania   0.0   NaN   NaN   NaN   NaN   0.0   NaN   NaN   NaN  ...
4      Andorra   0.0   NaN   NaN   NaN   NaN   0.0   NaN   NaN   NaN  ...

    2014   2015   2016   2017   2018   2019   2020   2021   2022   2023
0   140k   141k    NaN    NaN    NaN   141k   141k   141k    NaN    NaN
1  18.4M  19.7M  21.6M  23.9M    22M  22.6M  22.7M  22.7M  22.8M    23M
2  14.1M  13.9M    13M  13.3M  13.3M  14.8M  14.6M  15.3M  23.7M  25.7M
3  3.36M   3.4M  3.37M  3.63M  2.71M  2.63M  2.62M  2.64M  2.78M  2.61M
4  66.2k  71.3k  76.1k  80.3k  82.6k  87.9k  80.4k  93.8k   114k   126k

[5 rows x 65 columns]

Population Data:
        country   1800   1801   1802   1803   1804   1805   1806   1807   1808  \
0  Afghanistan  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M
1       Angola  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M
2      Albania   400k   402k   404k   405k   407k   409k   411k   413k   414k
3      Andorra   2650   2650   2650   2650   2650   2650   2650   2650   2650
4          UAE  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k

   ...   2091   2092   2093   2094   2095   2096   2097   2098   2099   2100
0  ...   124M   125M   126M   126M   127M   128M   128M   129M   130M   130M
1  ...   139M   140M   142M   143M   144M   145M   147M   148M   149M   150M
2  ...  1.34M  1.32M   1.3M  1.29M  1.27M  1.25M  1.23M  1.22M   1.2M  1.18M
3  ...  52.8k  52.1k  51.5k  50.8k  50.2k  49.6k    49k  48.4k  47.8k  47.2k
4  ...  24.1M  24.3M  24.5M  24.7M    25M  25.2M  25.4M  25.7M  25.9M  26.1M

[5 rows x 302 columns]

In [3]:
import mysql.connector  

# Establish connection
conn = mysql.connector.connect(
    host="localhost",
    user="root",       # Replace with your MySQL username if different
    password="root",   # Replace with your MySQL password
    database="bootcamp"  # Make sure this database exists
)

cursor = conn.cursor()
print("Connected to MySQL successfully!")

Connected to MySQL successfully!

In [4]:
import pandas as pd

# Load the CSV files into Pandas DataFrames
cell_df = pd.read_csv("cell_phones_total.csv")  # Replace with your actual file path
population_df = pd.read_csv("pop.csv")  # Replace with your actual file path

# Check if data is loaded correctly
print(cell_df.head())  # Show first 5 rows
print(population_df.head())

       country  1960  1961  1962  1963  1964  1965  1966  1967  1968  ...  \
0        Aruba   0.0   NaN   NaN   NaN   NaN   0.0   NaN   NaN   NaN  ...
1  Afghanistan   0.0   NaN   NaN   NaN   NaN   0.0   NaN   NaN   NaN  ...
2       Angola   0.0   NaN   NaN   NaN   NaN   0.0   NaN   NaN   NaN  ...
3      Albania   0.0   NaN   NaN   NaN   NaN   0.0   NaN   NaN   NaN  ...
4      Andorra   0.0   NaN   NaN   NaN   NaN   0.0   NaN   NaN   NaN  ...

    2014   2015   2016   2017   2018   2019   2020   2021   2022   2023
0   140k   141k    NaN    NaN    NaN   141k   141k   141k    NaN    NaN
1  18.4M  19.7M  21.6M  23.9M    22M  22.6M  22.7M  22.7M  22.8M    23M
2  14.1M  13.9M    13M  13.3M  13.3M  14.8M  14.6M  15.3M  23.7M  25.7M
3  3.36M   3.4M  3.37M  3.63M  2.71M  2.63M  2.62M  2.64M  2.78M  2.61M
4  66.2k  71.3k  76.1k  80.3k  82.6k  87.9k  80.4k  93.8k   114k   126k

[5 rows x 65 columns]
       country   1800   1801   1802   1803   1804   1805   1806   1807   1808  \
0  Afghanistan  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M  3.28M
1       Angola  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M  1.57M
2      Albania   400k   402k   404k   405k   407k   409k   411k   413k   414k
3      Andorra   2650   2650   2650   2650   2650   2650   2650   2650   2650
4          UAE  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k  40.2k

   ...   2091   2092   2093   2094   2095   2096   2097   2098   2099   2100
0  ...   124M   125M   126M   126M   127M   128M   128M   129M   130M   130M
1  ...   139M   140M   142M   143M   144M   145M   147M   148M   149M   150M
2  ...  1.34M  1.32M   1.3M  1.29M  1.27M  1.25M  1.23M  1.22M   1.2M  1.18M
3  ...  52.8k  52.1k  51.5k  50.8k  50.2k  49.6k    49k  48.4k  47.8k  47.2k
4  ...  24.1M  24.3M  24.5M  24.7M    25M  25.2M  25.4M  25.7M  25.9M  26.1M

[5 rows x 302 columns]

In [5]:
print(cell_df.columns)

Index(['country', '1960', '1961', '1962', '1963', '1964', '1965', '1966',
       '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975',
       '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984',
       '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020',
       '2021', '2022', '2023'],
      dtype='object')

In [6]:
cell_df.columns = cell_df.columns.str.strip()  # Remove spaces around column names
print(cell_df.columns)

Index(['country', '1960', '1961', '1962', '1963', '1964', '1965', '1966',
       '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975',
       '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984',
       '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020',
       '2021', '2022', '2023'],
      dtype='object')

In [9]:
import pandas as pd
import mysql.connector

# Load CSV Files
cell_df = pd.read_csv("cell_phones_total.csv")
population_df = pd.read_csv("pop.csv")

# Melt the DataFrame to convert year columns into rows
cell_df = cell_df.melt(id_vars=["country"], var_name="year", value_name="total_cellphones")
population_df = population_df.melt(id_vars=["country"], var_name="year", value_name="total_population")

# Convert 'year' column to integer
cell_df["year"] = cell_df["year"].astype(int)
population_df["year"] = population_df["year"].astype(int)

# Convert non-numeric values to NaN, then replace with None for MySQL NULL
cell_df["total_cellphones"] = pd.to_numeric(cell_df["total_cellphones"], errors="coerce").replace({pd.NA: None})
population_df["total_population"] = pd.to_numeric(population_df["total_population"], errors="coerce").replace({pd.NA: None})

# Connect to MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database= "bootcamp"
)
cursor = conn.cursor()
# Insert Data into MySQL, handling NULL values correctly
for _, row in cell_df.iterrows():
    cursor.execute("""
        INSERT INTO cell_phones (country, year, total_cellphones)
        VALUES (%s, %s, %s)
    """, (row["country"], row["year"], row["total_cellphones"]))

for _, row in population_df.iterrows():
    cursor.execute("""
        INSERT INTO population (country, year, total_population)
        VALUES (%s, %s, %s)
    """, (row["country"], row["year"], row["total_population"]))

# Commit and Close Connection
conn.commit()
cursor.close()
conn.close()
print("✅ Data successfully inserted into MySQL!")

ProgrammingError: 1146 (42S02): Table 'bootcamp.cell_phones' doesn't exist

In [10]:
import pandas as pd
import mysql.connector

# Load CSV Files
cell_df = pd.read_csv("cell_phones_total.csv")
population_df = pd.read_csv("pop.csv")

# Melt the DataFrame to convert year columns into rows
cell_df = cell_df.melt(id_vars=["country"], var_name="year", value_name="total_cellphones")
population_df = population_df.melt(id_vars=["country"], var_name="year", value_name="total_population")

# Convert 'year' column to integer
cell_df["year"] = cell_df["year"].astype(int)
population_df["year"] = population_df["year"].astype(int)

# Convert non-numeric values to NaN, then replace with None for MySQL NULL
cell_df["total_cellphones"] = pd.to_numeric(cell_df["total_cellphones"], errors="coerce").replace({pd.NA: None})
population_df["total_population"] = pd.to_numeric(population_df["total_population"], errors="coerce").replace({pd.NA: None})

# Connect to MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="bootcamp"
)
cursor = conn.cursor()

# Create Tables if not exists
cursor.execute("""
    CREATE TABLE IF NOT EXISTS cell_phones (
        country VARCHAR(255),
        year INT,
        total_cellphones BIGINT,
        PRIMARY KEY (country, year)
    )
""")

cursor.execute("""
    CREATE TABLE IF NOT EXISTS population (
        country VARCHAR(255),
        year INT,
        total_population BIGINT,
        PRIMARY KEY (country, year)
    )
""")

conn.commit()
print("✅ Tables created successfully!")

# Insert Data into MySQL, handling NULL values correctly
for _, row in cell_df.iterrows():
    cursor.execute("""
        INSERT INTO cell_phones (country, year, total_cellphones)
        VALUES (%s, %s, %s)
        ON DUPLICATE KEY UPDATE total_cellphones = VALUES(total_cellphones)
    """, (row["country"], row["year"], row["total_cellphones"]))

for _, row in population_df.iterrows():
    cursor.execute("""
        INSERT INTO population (country, year, total_population)
        VALUES (%s, %s, %s)
        ON DUPLICATE KEY UPDATE total_population = VALUES(total_population)
    """, (row["country"], row["year"], row["total_population"]))

# Commit and Close Connection
conn.commit()
cursor.close()
conn.close()
print("✅ Data successfully inserted into MySQL!")

✅ Tables created successfully!

ProgrammingError: 1054 (42S22): Unknown column 'nan' in 'field list'

In [14]:
import pandas as pd
import mysql.connector
import numpy as np

# Load CSV Files
cell_df = pd.read_csv("cell_phones_total.csv")
population_df = pd.read_csv("pop.csv")

# Melt DataFrames to convert year columns into rows
cell_df = cell_df.melt(id_vars=["country"], var_name="year", value_name="total_cellphones")
population_df = population_df.melt(id_vars=["country"], var_name="year", value_name="total_population")

# Convert 'year' column to integer
cell_df["year"] = pd.to_numeric(cell_df["year"], errors="coerce").astype("Int64")
population_df["year"] = pd.to_numeric(population_df["year"], errors="coerce").astype("Int64")

# Convert non-numeric values to NaN, then replace with None for MySQL NULL
cell_df["total_cellphones"] = pd.to_numeric(cell_df["total_cellphones"], errors="coerce").replace({np.nan: None})
population_df["total_population"] = pd.to_numeric(population_df["total_population"], errors="coerce").replace({np.nan: None})

# ✅ Connect to MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="bootcamp"
)
cursor = conn.cursor()

# ✅ Create Tables in MySQL
cursor.execute("""
    CREATE TABLE IF NOT EXISTS cell_phones (
        country VARCHAR(255),
        year INT,
        total_cellphones BIGINT,
        PRIMARY KEY (country, year)
    )
""")

cursor.execute("""
    CREATE TABLE IF NOT EXISTS population (
        country VARCHAR(255),
        year INT,
        total_population BIGINT,
        PRIMARY KEY (country, year)
    )
""")

conn.commit()
print("✅ Tables created successfully!")

# ✅ Insert Data into MySQL, handling NULL values correctly
for _, row in cell_df.iterrows():
    cursor.execute("""
        INSERT INTO cell_phones (country, year, total_cellphones)
        VALUES (%s, %s, %s)
        ON DUPLICATE KEY UPDATE total_cellphones = VALUES(total_cellphones)
    """, (row["country"], row["year"], row["total_cellphones"]))

for _, row in population_df.iterrows():
    cursor.execute("""
        INSERT INTO population (country, year, total_population)
        VALUES (%s, %s, %s)
        ON DUPLICATE KEY UPDATE total_population = VALUES(total_population)
    """, (row["country"], row["year"], row["total_population"]))

# ✅ Commit and Close Connection
conn.commit()
cursor.close()
conn.close()
print("✅ Data successfully inserted into MySQL!")

✅ Tables created successfully!
✅ Data successfully inserted into MySQL!